@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>


<h3>
    易纪海
</h3>
        <address>
            兰州市城关区段家滩496号<br />
            兰州财经大学信息工程学院院办<br />
            <abbr title="邮编">邮编:</abbr>
            730020
        </address>

        <address>
            <strong>邮箱:</strong>   <a href="mailto:37097948@qq.com">37097948@qq.com</a><br />
        </address>
