.shopping_cart { 
     position: relative; 
     width: 30px; 
     height: 30px; 
      margin: 12px; 
  } 
  

      .shopping_cart img { 
          width: 30px; 
          height: 30px; 
      } 
  
 
      .right_number { 
          position: absolute; 
          color: white; 
         font-size: 16px; 
          background-color: red; 
          width: 20px; 
          height: 20px; 
          line-height: 20px; 
          left: 80%; 
          top: -8px; 
          text-align: center; 
          -webkit-border-radius: 20px; 
          border-radius: 20px; 
      } 
